<div id="cluster-page">

    <section id="title-container">
      <div class="side-line"></div>
      <div class="title-box">
        <span class="vert-border-left"></span>
        <h1 id="cluster-headline" class="gui-headline-bold page-title">Cluster Management</h1>
        <span class="vert-border-right"></span>
      </div>
      <div class="side-line"></div>
      <div class="clear"></div>
    </section>

    <div id="add-node">
        <h2 class="gui-headline">Join Nodes</h2>
        <span class="gui-text-flat italic">Type a node name or list of names separated by commas.</span>
        <table class="add-node-table">
            <tr class="no-highlight">
                <td id="add-node-box">
                    {{view RiakControl.AddNodeView id="node-to-add"}}
                </td>
                <td class="button-column">
                    <a class="gui-point-button gui-text-bold right" {{action addNode target="controller"}}>
                        <span class="gui-button-msg">ADD NODES</span>
                    </a>
                </td>
            </tr>
        </table>
        {{#if errorMessage}}
            <div class="error-message">
                <a class="close-error gui-text" {{action hideError target="controller"}}></a>
                <a class="error-text offline gui-text-flat">{{errorMessage}}</a>
            </div>
        {{/if}}
    </div><!-- #add-node -->

    <div id="current-area">
        <h2 class="gui-headline">
            Current Cluster
            <span id="total-number" class="gui-text"></span><br/>
        </h2>
        <span class="gui-text-flat italic">Click the "Stage" button next to all nodes you wish to change.</span>
        <div id="node-list" class="hide">
            <table class="list-table" id="cluster-table">
                <tr class="table-head has-cut">
                    <td><h4 class="gui-headline-bold">Stage</h4></td>
                    <td><h4 class="gui-headline-bold">Name &amp; Status</h4></td>
                    <td><h4 class="gui-headline-bold actions-header">Actions</h4></td>
                    <td><h4 class="gui-headline-bold">Partitions</h4></td>
                    <td><h4 class="gui-headline-bold">RAM Use</h4></td>
                </tr>
            </table>
        </div>
        <div class="spinner-box">
            <img id="cluster-spinner" class="spinner" src="/admin/ui/images/spinner.gif">
        </div>
    </div>

    <div id="planned-area">
        <h2 class="gui-headline">
            Planned Cluster
        </h2>
        <span class="gui-text-flat italic">This is how your cluster will look after convergence.</span>
        <div id="planned-list" class="">
            <table id="planned-table">
                <tr class="table-head has-cut">
                    <td><h4 class="gui-headline-bold">Name &amp; Status</h4></td>
                    <td><h4 class="gui-headline-bold">Partitions</h4></td>
                    <td><h4 class="gui-headline-bold">Replacing</h4></td>
                </tr>
                <tr>
                    <td class="name-box gui-text">
                        <a class="gui-light status-light inline-block">
                        </a><div class="gui-text field-container inline-block">
                            <div class="name gui-field">dev1@127.0.0.1</div>
                        </div>
                    </td>
                    <td class="gui-text ring_pct-box">
                        <div class="left pct-arrows pct-static">
                            <div class="green-pct-arrow"></div>
                        </div>
                        <div class="left gui-text pct-box">
                            <div class="i-block ring_pct">19%</div>
                        </div>
                        <div class="clear"></div>
                    </td>
                    <td class="replacing-box">
                        <div class="gui-text field-container inline-block">
                            <div class="name gui-field">dev1@127.0.0.1</div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <h4 class="plan-details-header gui-headline-bold">Plan Details</h4>
        <p class="plan-details">
            More details about the convergence plan will go here.
            Lorem ipsum dolor sit amet consecteteur adipiscing
            elit.  Caronius mun liltium norvis.
        </p>
        <div class="accept-plan">
            <div class="gui-checkbox-wrapper">
                <span>This plan is correct.</span>
                <input class="gui-checkbox" type="checkbox" name="cluster-plan" value="accept"/>
            </div>
            <a id="commit-button" class="gui-point-button-right gui-text-bold right">
                <span class="gui-button-msg">COMMIT</span>
            </a>
        </div>
    </div>

    <div class="clear"></div>

    <!-- node template -->
    <table class="hide">
        <tr class="node row-template">
            <td class="stage-box gui-text">
                <a class="stage-button"></a>
            </td>
            <td class="name-box gui-text">
                <a class="gui-light status-light inline-block">
                </a><div class="gui-text field-container inline-block">
                    <div class="name gui-field"></div>
                </div>
            </td>
            <!-- New switch template -->
            <td class="switch-box off">
                <div class="gui-switch-container">
                    <div class="gui-switch off"></div>
                </div>
            </td>
            <td class="gui-text ring_pct-box">
                <div class="left pct-arrows pct-static">
                    <div class="green-pct-arrow"></div>
                </div>
                <div class="left gui-text pct-box">
                    <div class="i-block ring_pct"></div>
                </div>
            {{else}}
                <ul class="list-header">
                    <li class="item1"><h4 class="gui-headline-bold">Actions</h4></li>
                    <li class="item2"><h4 class="gui-headline-bold">Name &amp; Status</h4></li>
                    <li class="item3"><h4 class="gui-headline-bold">Partitions</h4></li>
                    <li class="item4"><h4 class="gui-headline-bold">RAM Usage</h4></li>
                </ul>
                <div class="clear"></div>
            </td>
            <td class="gui-text memory-box">
                <div class="membar-bg">
                    <div class="mem-colors">
                        <div class="erlang-mem mem-color" name=""></div>
                        <div class="non-erlang-mem mem-color" name=""></div>
                        <div class="unknown-mem"></div>
                    </div>
                    <div class="membar-fg"></div>
                </div>
                <span class="free-memory"></span>
            </td>
        </tr>
        <tr class="more-node-actions more-actions-template">
            <td>&nbsp;</td>
            <td colspan="2" class="more-actions-td">
                <div class="actions-box gui-text">
                    <div class="markdown-box left">
                        <a class="markdown-button action-button pressed disabled">
                            <span class="action-icon"></span>
                        </a>
                        <span class="markdown-label block disabled">Down</span>
                        <div class="clear"></div>
                    </div>
                    <div class="shutdown-box left">
                        <a class="shutdown-button action-button">
                            <span class="action-icon"></span>
                        </a>
                        <span class="shutdown-label block">Stop</span>
                        <div class="clear"></div>
                    </div>
                    <div class="leave-cluster-box left">
                        <a class="leave-cluster-button action-button">
                            <span class="action-icon"></span>
                        </a>
                        <span class="leave-cluster-label block">Leave</span>
                        <div class="clear"></div>
                    </div>
                    <!-- These are the dropdown and checkboxes for the new management protocol -->
                    <div class="replacement-controls">
                        <div class="gui-dropdown-wrapper replacement-node-dropdown">
                            <div class="gui-dropdown-bg gui-text">Replacement Node</div>
                            <div class="gui-dropdown-cap left"></div>
                            <select class="gui-dropdown">
                                <option value="">All</option>
                            </select>
                        </div>
                        <div class="clear"></div>
                        <div class="gui-checkbox-wrapper">
                            <input class="gui-checkbox" type="checkbox" value="forceleave" />
                            <span>Force Leave</span>
                        </div>

                        <div class="gui-checkbox-wrapper">
                            <input class="gui-checkbox" type="checkbox" value="forcereplace" />
                            <span>Force Replace</span>
                        </div>
                    </div>

                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                {{collection RiakControl.StagedClusterView contentBinding="activeStagedCluster"}}
            </section>
            <div class="accept-plan">
                <div class="gui-checkbox-wrapper">
                    <label for="confirmed-check">This plan is correct.</label>
                    <input class="gui-checkbox" type="checkbox" name="confirmed" id="confirmed-check" value="accept"/>
                  </div>
                <a id="commit-button" class="gui-point-button-right gui-text-bold right" {{action commitPlan target="controller"}}>
                    <span class="gui-button-msg">COMMIT</span>
                </a>
            </div>
            <div class="clear-plan-box">
                <span class="gui-text-flat serif">
                    Changed your mind? Click this button to remove all staged changes.
                </span>
                <a class="gui-rect-button gui-text-bold" {{action clearPlan target="controller"}}>
                    <span class="gui-button-msg">CLEAR PLAN</span>
                </a>
            </div>
        {{else}}
            <section id="planned-list">
                <div class="spinner-box">
                    {{#if controller.ringNotReady}}
                        <h4 class="gui-headline-bold">
                            Cannot plan until cluster state has converged. Check "Ring Ready" in "riak-admin ring_status".
                        </h4>
                    {{else}}
                        {{#if controller.legacyRing}}
                            <h4 class="gui-headline-bold">You are currently running a legacy version of Riak that does not support staged changes.</h4>
                        {{else}}
                            {{#if controller.emptyPlan}}
                                <h4 class="gui-headline-bold">Currently no staged changes to display.</h4>
                            {{else}}
                                {{#if controller.isLoading}}
                                    <img id="cluster-spinner" class="spinner" src="/admin/ui/images/spinner.gif">
                                    <h4 class="gui-headline-bold">Loading...</h4>
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </div>
            </section>
        {{/if}}
    </div>

    <div class="clear"></div>

</div>
