<div id="cluster-page">

    <section id="title-container">
      <div class="side-line"></div>
      <div class="title-box">
        <span class="vert-border-left"></span>
        <h1 id="cluster-headline" class="gui-headline-bold page-title">Cluster Management</h1>
        <span class="vert-border-right"></span>
      </div>
      <div class="side-line"></div>
      <div class="clear"></div>
    </section>

    <div id="add-node">
        <h2 class="gui-headline">Join Nodes</h2>
        <span class="gui-text-flat italic">Type a node name or list of names separated by commas.</span>
        <table class="add-node-table">
            <tr class="no-highlight">
                <td id="add-node-box">
                    {{view RiakControl.AddNodeView id="node-to-add"}}
                </td>
                <td class="button-column">
                    <a class="gui-point-button gui-text-bold right" {{action addNode target="controller"}}>
                        <span class="gui-button-msg">ADD NODES</span>
                    </a>
                </td>
            </tr>
        </table>
        {{#if errorMessage}}
            <div class="error-message">
                <a class="close-error gui-text" {{action hideError target="controller"}}></a>
                <a class="error-text offline gui-text-flat">{{errorMessage}}</a>
            </div>
        {{/if}}
    </div><!-- #add-node -->


    <div id="current-area">
        <h2 class="gui-headline">
            Current Cluster
            <span id="total-number" class="gui-text-flat italic"></span><br/>
        </h2>
        <section id="node-list">
            {{#if controller.isLoading}}
                <div class="spinner-box">
                    <img id="cluster-spinner" class="spinner" src="/admin/ui/images/spinner.gif">
                </div>
            {{else}}
                <ul class="list-header">
                    <li class="item1"><h4 class="gui-headline-bold">Actions</h4></li>
                    <li class="item2"><h4 class="gui-headline-bold">Name &amp; Status</h4></li>
                    <li class="item3"><h4 class="gui-headline-bold">Partitions</h4></li>
                    <li class="item4"><h4 class="gui-headline-bold">RAM Usage</h4></li>
                </ul>
                <div class="clear"></div>
                {{collection RiakControl.CurrentClusterView contentBinding="content.current"}}
            {{/if}}
        </section>
    </div>


    <div id="area-separator">
        <div class="vert-line"></div>
    </div>


    <div id="planned-area">
        <h2 class="gui-headline">
            Staged Changes
            <span class="gui-text-flat italic">(Your new cluster after convergence.)</span>
        </h2>
        <section id="planned-list" class="">
            {{#if controller.isLoading}}
                <div class="spinner-box">
                    <img id="cluster-spinner" class="spinner" src="/admin/ui/images/spinner.gif">
                </div>
            {{else}}
                <ul class="list-header">
                    <li class="item1"><h4 class="gui-headline-bold">Name &amp; Status</h4></li>
                    <li class="item2"><h4 class="gui-headline-bold">Partitions</h4></li>
                    <li class="item3"><h4 class="gui-headline-bold">Action</h4></li>
                    <li class="item4"><h4 class="gui-headline-bold">Replacement</h4></li>
                </ul>
                <div class="clear"></div>
                {{collection RiakControl.StagedClusterView contentBinding="content.staged"}}
            {{/if}}
        </section>


        <h4 class="plan-details-header gui-headline-bold">Plan Details</h4>
        <p class="plan-details">
            More details about the convergence plan will go here.
            Lorem ipsum dolor sit amet consecteteur adipiscing
            elit.  Caronius mun liltium norvis.
        </p>
        <div class="accept-plan">
            <div class="gui-checkbox-wrapper">
                <span>This plan is correct.</span>
                <input class="gui-checkbox" type="checkbox" name="cluster-plan" value="accept"/>
            </div>
            <a id="commit-button" class="gui-point-button-right gui-text-bold right">
                <span class="gui-button-msg">COMMIT</span>
            </a>
        </div>
    </div>

    <div class="clear"></div>

</div>
