{{#with view}}
    <div class="node">
        <div class="item1 toggle-container">
            {{#view RiakControl.CurrentClusterToggleView}}
                <div class="actions-toggle gui-field">
                    <a class="slider"></a>
                </div>
            {{/view}}
        </div>
        <div class="item2 name-box gui-text">
            <div {{bindAttr class="indicatorLights"}}>
            </div><div class="gui-text field-container inline-block">
                <div class="name gui-field">{{name}}</div>
            </div>
        </div>
        <div class="item3 gui-text ring-pct-box">
            <div class="left pct-arrows pct-static">
                <div class="green-pct-arrow"></div>
            </div>
            <div class="left gui-text pct-box">
                <span class="ring-pct">{{ring_pct_readable}}%</span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="item4 gui-text memory-box">
            {{#if reachable}}
                <div class="membar-bg">
                    <div class="mem-colors">
                        <div class="erlang-mem mem-color" {{bindAttr style="mem_erlang_style"}} name=""></div>
                        <div class="non-erlang-mem mem-color" {{bindAttr style="mem_non_erlang_style"}} name=""></div>
                        <div class="unknown-mem" {{bindAttr style="mem_free_style"}}></div>
                    </div>
                    <div class="membar-fg"></div>
                </div>
                <span class="used-memory">{{mem_used_readable}}%</span>
            {{else}}
                <div class="membar-bg">
                    <div class="mem-colors">
                        <div class="unknown-mem" style="width: 100%"></div>
                    </div>
                    <div class="membar-fg"></div>
                </div>
                <span class="used-memory"></span>
            {{/if}}
        </div>
        <div class="clear"></div>

        <!-- Actions container -->
        <div class="actions-container">
            <div class="actions-pointer"></div>
            <div class="actions-box">
                <h4 class="gui-headline-bold">Use these actions to prepare this node to leave the cluster.</h4>
                <div class="replacement-controls">
                    <div class="gui-radio-wrapper default">
                        <input class="gui-radio" type="radio" value="leavenormal" {{bindAttr name="name"}} checked="checked"/>
                        <span class="serif">Allow this node to leave normally.</span>
                    </div>
                    <div class="gui-radio-wrapper">
                        <input class="gui-radio" type="radio" value="forceleave" {{bindAttr name="name"}} />
                        <span class="serif">Force this node to leave.</span>
                    </div>
                    <div class="gui-radio-wrapper">
                        <input class="gui-radio" type="radio" value="replace" {{bindAttr name="name"}} />
                        <span class="serif">Choose a new node to replace this one.</span>
                    </div>
                    <div class="extra-actions">
                        <div class="right-angle-arrow"></div>
                        <div class="gui-dropdown-wrapper replacement-node-dropdown">
                            <div class="gui-dropdown-bg gui-text">Select Replacement Node</div>
                            <div class="gui-dropdown-cap left"></div>
                            {{view Ember.Select classNames="gui-dropdown" contentBinding="controller.joiningNodes"}}
                        </div>
                        <div class="gui-checkbox-wrapper">
                            <input class="gui-checkbox" type="checkbox" value="forcereplace" />
                            <span class="serif">Force this replacement?</span>
                        </div>
                        <div class="clear"></div>
                        <div class="disabler"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <span class="gui-text-flat serif italic stage-instructions">Click "STAGE" when you are ready to stage this action.</span>
                <a class="stage-button gui-point-button-right gui-text-bold right" {{action stageChange target="view"}}>
                    <span class="gui-button-msg">STAGE</span>
                </a>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div><!-- .actions-box -->
        <div class="clear"></div>
    </div><!-- .node -->

{{/with}}
