
<div id="ring-page">

  <section id="title-container">
    <div class="side-line"></div>
    <div class="title-box">
      <span class="vert-border-left"></span>
      <h1 id="ring-headline" class="gui-headline-bold page-title">Ring Status</h1>
      <span class="vert-border-right"></span>
    </div>
    <div class="side-line"></div>
    <div class="clear"></div>
  </section>

  <div id="current-area">
    <h2 class="gui-headline">Summary<br/></h2>
    <span class="gui-text-flat italic">
      The claimant node is responsible for all partition ownership decisions and for determining
      whether the ring is ready.
    </span><br/>

    <section id="summary-info">
      <div class="item-1">
        <h4 class="gui-headline-bold">Claimant Name &amp; Status</h4>
        <div class="gui-light status-light inline-block green">
        </div><div class="gui-text field-container inline-block">
          <div class="name gui-field">{{ claimant }}</div>
        </div>
      </div>

      <div class="item-2">
        <h4 class="gui-headline-bold">Ring Ready</h4>
        <div class="ring-light inline-block green">
        </div><div class="gui-text field-container inline-block">
          <div class="name gui-field">{{ ringReady }}</div>
        </div>
      </div>

      <div class="item-3">
        <h4 class="gui-headline-bold">Current Handoffs</h4>
        <div class="gui-light status-light inline-block orange">
        </div><div class="gui-text field-container inline-block">
          <div class="name gui-field">{{ currentHandoffs }}</div>
        </div>
      </div>

      <div class="clear"></div>
    </section>
    
    <h2 class="gui-headline">View Details<br/></h2>
    <span class="gui-text-flat italic">
      Use this section to determine whether unreachable nodes are preventing
      convergence or to view all current handoffs.
    </span><br/>

    <section id="details-info">
      <h4 class="gui-headline-bold">Currently Viewing:</h4>

      <div class="gui-radio-wrapper first">
        <input class="gui-radio" type="radio" value="leave"
        id="unreachable-radio" name="currentlyViewing" checked="checked"
          {{action unreachableNodes}}/>
        <label for="unreachable-radio">Unreachable Nodes</label>
      </div>

      <div class="gui-radio-wrapper last">
        <input class="gui-radio" type="radio" value="leave" id="handoff-radio" name="currentlyViewing"
           {{action ownershipHandoffs}}/>
        <label for="handoff-radio">Ownership Handoffs</label>
      </div>
    </section>


    <section id="display-container">
      {{ outlet ringDetails }}      
    </section>
</div>
