{{#with view}}
    <div class="node">
        <div class="item1 name-box gui-text">
            <div {{bindAttr class="indicatorLights"}}>
            </div><div class="gui-text field-container inline-block">
                <div class="name gui-field">{{name}}</div>
            </div>
        </div>
        <div class="item2 gui-text ring-pct-box">
            <div class="left gui-text pct-box">
                <span class="ring-pct">{{ringPctReadable}}%</span>
            </div>
            <div class="clear"></div>
        </div>
        {{#if isAction}}
          <div class="item3 action-taken gui-text">
              <span class="action-name">{{node_action}}</span>
          </div>
        {{/if}}
        {{#if isReplaced}}
            <div class="item4 replacing-box">
                <div class="gui-text field-container inline-block">
                    <div class="name gui-field">{{content.replacement}}</div>
                </div>
            </div>
        {{/if}}
        <div class="clear"></div>
    </div>
{{/with}}
