<div id="stats-page">

  <section id="title-container">
      <div class="side-line"></div>
      <div class="title-box">
        <span class="vert-border-left"></span>
        <h1 id="stats-headline" class="gui-headline-bold page-title">Cluster Stats</h1>
        <span class="vert-border-right"></span>
      </div>
      <div class="side-line"></div>
      <div class="clear"></div>
    </section>

    {{#if errorMessage}}
      <div class="error-message">
          <a class="close-error gui-text" {{action hideError target="controller"}}></a>
          <a class="error-text offline gui-text-flat">{{errorMessage}}</a>
      </div>
    {{/if}}

    <div id="stats-area">
      <div id="graphs">
        {{#each RiakControl.statGraphs}}
          <div class="chart-container" {{bind-attr data-graph-id=markerID}}>
            <h2><span><strong>{{toolNameReadable}}</strong> - {{statNameReadable}}</span></h2>
            <a class="remove-graph"
               {{bind-attr data-graph-id=markerID}}
               {{action destroyObj}}></a>
            <div class="chart-wrapper">
              {{time-series-chart
                  lineData=json
                  yAxisFromZero=true
                  selectedInterval="seconds"
                  selectedSeedColor=colorBase}}
            </div>
          </div>
        {{/each}}
        <div class="chart-container add-new"
             {{bind-attr data-no-graphs="RiakControl.statGraphs.graphsExist"}}>
          <div class="chart-wrapper">
            <div id="add-new-graph">
              <span class="plus">+</span>
              <h3>Select a stat to graph...</h3>
              {{view RiakControl.AddGraphSelectView
                     valueBinding="selectedStat"}}
              <p class="gui-headline">
                The stats page allows you to create time-series graphs
                based on cluster stastics so that you can compare the
                behavior of your nodes and make sure everything is
                working well.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
